<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>
{% block meta %}
{% endblock %}

{% block title %}
{% endblock %}


{% block css %}
	{% block gcss %}
	{% endblock %}

	{% block pcss %}
	{% endblock %}
{% endblock %}

{% block header %}
{% endblock %}


{% block container %}
	{% block sidebar %}
	{% endblock %}
	
	{% block pageheader %}
	{% endblock %}
	
	{% block pagecontainer %}
	{% endblock %}
{% endblock %}


{% block footer %}
{% endblock %}

{% block js %}
	{% block gjs %}	
	{% endblock %}

	{% block pagejs %}
	{% endblock %}
{% endblock %}

</body>

<!-- END BODY -->

</html>
