{% extends "base/baseall.html" %}
{{super()}}

    {% block meta %}
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="ClearCache  nginx akima wechat " />
        <meta content="" name="ryan" />
    {% endblock %}

    {% block title %}
	    
    {% endblock %}


    {% block css %}
    	
	    {% block gcss %}
	    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/style-metro.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/style-responsive.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet"/>
	    <link href="{{url_for('static', filename='css/uniform.default.css')}}" rel="stylesheet"/>
		{% endblock %}

	   {% block pcss %}

       {% endblock %}

    {% endblock %}

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->
 {% block header %}
<body class="page-header-fixed">
    
	<!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="index.html">

				<img src="{{url_for('static', filename='image/logo.png')}}" alt="logo"/>

				</a>

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

				<img src="{{url_for('static', filename='image/menu-toggler.png')}}" alt="" />

				</a>          

				<!-- END RESPONSIVE MENU TOGGLER -->            

				<!-- BEGIN TOP NAVIGATION MENU -->              

				<ul class="nav pull-right">

					

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

						<img alt="" src="{{url_for('static', filename='image/avatar1_small.jpg')}}" />

						<span class="username">Bob Nilson</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">

							<li><a href="#"><i class="icon-user"></i> My Profile</a></li>


							<li class="divider"></li>

						

							<li><a href="#"><i class="icon-key"></i> Log Out</a></li>

						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU --> 

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->
{% endblock %}

    {% block container %}
	<!-- BEGIN CONTAINER -->
	
	<div class="page-container">
        {% block sidebar %}
		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

			

				<li class="start active ">

					<a href="/ccadmin">

					<i class="icon-home"></i> 

					<span class="title">首页</span>

					<span class="selected"></span>

					</a>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">配置管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="ccadmin/nginxedit">IP管理</a>

						</li>

						<li >

							<a href="#">akamai配置</a>

						</li>

                        <li >

                            <a href="#">微信配置</a>

                        </li>



				

					</ul>

				</li>




			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

            {% endblock %}


            
		<!-- BEGIN PAGE -->

		<div class="page-content">



			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">
                {% block pageheader %}

                {% endblock %}


                {% block pagecontainer %}

                {% endblock %}


			</div>

			<!-- END PAGE CONTAINER-->    

		</div>

		<!-- END PAGE -->
        
	</div>

	<!-- END CONTAINER -->
    {% endblock %}


    {% block footer %}
	<!-- BEGIN FOOTER -->

	<div class="footer">

		<div class="footer-inner">

			2016 &copy; Ryan.

		</div>

		<div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

		</div>

	</div>

	<!-- END FOOTER -->

    {% endblock %}

{% block js %}
	{% block gjs %}
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

    <!-- BEGIN CORE PLUGINS -->

    <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-migrate-1.2.1.min.js')}}"></script>


    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

    <script src="{{url_for('static', filename='js/jquery-ui-1.10.1.custom.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


    <!--[if lt IE 9]>

    <script src="{{url_for('static', filename='js/excanvas.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/respond.min.js')}}"></script>


    <![endif]-->   
    <script src="{{url_for('static', filename='js/jquery.slimscroll.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.blockui.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.cookie.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.uniform.min.js')}}"></script>



    <!-- END CORE PLUGINS -->
	{% endblock %}



		{% block pagejs %}
		
		{% endblock %}
	
	 
{% endblock %}


