{% extends "base.html" %}
{{super()}}
{% block head %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="{{url_for('static', filename='i/favicon.png')}}">

  <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='i/app-icon72x72@2x.png')}}">

  <meta name="apple-mobile-web-app-title" content="Amaze UI" />

  {% block css %}
  {{super()}}
  {% endblock %}
  
</head>
{% endblock %}


{% block header %}
{{super()}}
{% endblock %}


{% block sidebar %}
{{super()}}
{% endblock %}

{% block content %}
<!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表格</strong> / <small>Table</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
             <a href="{{url_for('nginxadd')}}"><button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button></a>
          
            
            <!-- <a href="#"><button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button></a>-->
            </div>
          </div>
        </div>


        <div class="am-u-sm-12 am-u-md-3">
        
            <form  method="post" action={{url_for('nginxsearch')}} >
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="searchstr" placeholder="暂只支持搜索域名,可模糊匹配">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="submit" >搜索</button>
          </span>
          </div>
           </form>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
      <!--          <th class="table-check"><input type="checkbox" /></th>-->
                <th class="table-id">序号</th>
                <th class="table-title">域名</th>
                <th class="table-type">IP</th>

                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>

                {% for post in r.posts %}                
              <tr>
               <!-- <td><input type="checkbox" /></td>-->
                <td>{{loop.index + r.addno}}</td>
                <td><a href="#">{{post}}</a></td>
                <td>{{r.all[post]}}</td>
                
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                    <a href="{{url_for('nginxedit', domain=post)}}"><span class="am-icon-pencil-square-o"></span>编辑</a>    |     
                   <!-- <a href="/ccadmin/nginxedit/{{post}}"><span class="am-icon-trash-o"></span>删除</a> -->
        
                    <a href="/ccadmin/nginxdel/{{post}}" onclick="if(confirm('是否删除:{{post}}')==false) return false;"><span class="am-icon-trash-o"></span>删除</a>
                    </div>
                  </div>
                </td>
              </tr>
      
             
                {% endfor %}


              </tbody>
            </table>
            <div class="am-cf">
              共 {{r.allCounts}} 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                   {% if r.curPage != 1 %}        
                  <li><a href="/ccadmin/nginxsearch?curPage={{r.curPage}}&allPage={{r.allPage}}&pageType=pageUp">«</a></li>
                    {% endif  %}

                    {%for pno in r.lists%}
                  <li class="am-active"><a href="/ccadmin/nginxsearch?curPage={{pno}}&&allPage={{r.allPage}}">{{pno}}</a></li>
                   {%endfor%}
    
                   {% if r.curPage !=  r.allPage %}
                  <li><a href="/ccadmin/nginxsearch?curPage={{r.curPage}}&allPage={{r.allPage}}&pageType=pageDown">»</a></li>
                   {% endif  %}
                </ul>
              </div>
            </div>
            <hr />
            <p>注：多个IP之间请用英文逗号分开","</p>
          </form>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2016 Ryan. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->


{% endblock %}



{% block js %}
{{super()}}
{% endblock %}

{% block cjs %}
{% endblock %}

