{% extends "base/base.html" %}
{{super()}}

{% block title %}
    <title>ClearCache | nginx akima wechat</title>
{% endblock %}



{% block css %}
    {% block gcss %}
    {{super()}} 
    {% endblock %}

    {% block pcss %}
    <!-- BEGIN PAGE LEVEL STYLES --> 

    <link href="{{url_for('static', filename='css/jquery.gritter.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/daterangepicker.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/fullcalendar.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/jqvmap.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename='css/jquery.easy-pie-chart.css')}}" rel="stylesheet"/>


    <!-- END PAGE LEVEL STYLES -->

    <link href="{{url_for('static', filename='image/favicon.ico')}}" rel="stylesheet"/>
    {% endblock %}
{% endblock %}

{% block pageheader %}
                <!-- BEGIN PAGE HEADER-->

                <div class="row-fluid">

                    <div class="span12">

  

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                        <h3 class="page-title">

                            首页 <small>test</small>

                        </h3>

                        <ul class="breadcrumb">

                            <li>

                                <i class="icon-home"></i>

                                <a href="/ccadmin">首页</a> 


                            </li>


                    

                        </ul>

                        <!-- END PAGE TITLE & BREADCRUMB-->

                    </div>

                </div>

                <!-- END PAGE HEADER-->
                {% endblock %}

{% block pagecontainer %}

{% endblock %}



{% block js %}
    {% block gjs %}
    {{super()}}
    {% endblock %}
    {% block pagejs %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->

   
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.flot.js')}}"></script>
 

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.flot.resize.js')}}"></script>

    
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.pulsate.min.js')}}"></script>
 

    
    
    <script type="text/javascript" src="{{url_for('static', filename='js/date.js')}}"></script>


    <script type="text/javascript" src="{{url_for('static', filename='js/daterangepicker.js')}}"></script>
    

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.gritter.js')}}"></script>


    <script type="text/javascript" src="{{url_for('static', filename='js/fullcalendar.min.js')}}"></script>
  

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.easy-pie-chart.js')}}"></script>
 

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.sparkline.min.js')}}"></script>
    

    <!-- END PAGE LEVEL PLUGINS -->
    
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

       
    <script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->  

    <script>

        jQuery(document).ready(function() {    

           App.init(); // initlayout and core plugins

           Index.init();

 

          //Index.initCalendar(); // init index page's custom scripts

          // Index.initCharts(); // init index page's custom scripts

           // Index.initChat();

           //Index.initMiniCharts();

           //Index.initDashboardDaterange();

           //Index.initIntro();

        });

    </script>
    <!-- END JAVASCRIPTS -->
    
    {% endblock %}

{% endblock %}
