<!doctype html>
<html class="no-js fixed-layout">
{% block head %}
<head>
  

  {% block css %}
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
  <link rel="stylesheet" href="http://amazeui.org/css/admin.css">
  {% endblock %}

</head>
{% endblock %}

<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
{% block header %}
<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>CACHE ADMIN</strong> 
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
   
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <!--<li><a href="#"><span class="am-icon-user"></span> 资料</a></li>-->
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="{{url_for('logout')}}"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
     
    </ul>
  </div>
</header>
{% endblock %}


{% block sidebar %}
<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="/ccadmin"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> nginx <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="/ccadmin/nginx" class="am-cf"><span class="am-icon-check"></span> 域名->nginxIP管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="#"><span class="am-icon-puzzle-piece"></span> 测试nginx接口</a></li>
            
     
          </ul>
        </li>

        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> akamai <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
            <li><a href="#" class="am-cf"><span class="am-icon-check"></span>akamai帐号管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="#"><span class="am-icon-puzzle-piece"></span> 测试akamai缓存接口</a></li>
            
     
          </ul>
        </li>


        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span> 微信 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav3">
            <li><a href="#" class="am-cf"><span class="am-icon-check"></span> 微信帐号管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="#"><span class="am-icon-puzzle-piece"></span> 测试微信接口</a></li>
            
     
          </ul>
        </li>

        <li><a href="#"><span class="am-icon-calendar"></span> 接口日志</a></li>
      
        <li><a href="{{url_for('logout')}}"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>ryan</p>
        </div>
      </div>


    </div>
  </div>
  <!-- sidebar end -->
{% endblock %}

{% block content %}

  

</div>
{% endblock %}


<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
{% block js %}

<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>

<!--<![endif]-->
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}

{% block cjs %}
{% endblock %}
</body>
</html>
