{% extends "base.html" %}
{{super()}}
{% block head %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="{{url_for('static', filename='i/favicon.png')}}">

  <link rel="apple-touch-icon-precomposed" href="{{url_for('static', filename='i/app-icon72x72@2x.png')}}">

  <meta name="apple-mobile-web-app-title" content="Amaze UI" />

  {% block css %}
  {{super()}}
  {% endblock %}
  
</head>
{% endblock %}


{% block header %}
{{super()}}
{% endblock %}


{% block sidebar %}
{{super()}}
{% endblock %}

{% block content %}

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>一些常用模块</small></div>
      </div>

      <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
        <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>缓存接口请求次数<br/>2300</a></li>
        <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>告警接口请求次数<br/>308</a></li>
        <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>NGINX IP数<br/>80082</a></li>
        <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>域名个数<br/>3000</a></li>
      </ul>

      <div class="am-g">
        <div class="am-u-sm-12">
          
              <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
    
        </div>
      </div>




 
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2016 Ryan. Licensed under MIT license.</p>
    </footer>
  </div>
  <!-- content end -->

</div>
{% endblock %}



{% block js %}
{{super()}}
{% endblock %}

{% block cjs %}
{% endblock %}

